* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
  --ds-surface: #1D2125; /* body background */
  --ds-surface-hovered: #22272B;
  --ds-surface-pressed: #282E33;
  --ds-surface-overlay: #282E33;
  --ds-surface-overlay-hovered: #2C333A;
  --ds-surface-overlay-pressed: #38414A;
  --ds-surface-raised: #22272B;
  --ds-surface-raised-hovered: #282E33;
  --ds-surface-raised-pressed: #2C333A;
  --ds-surface-sunken: #161A1D;
  --ds-shadow-overflow: 0px 0px 12px #0304048F, 0px 0px 1px #03040480;
  --ds-shadow-overflow-perimeter: #03040480;
  --ds-shadow-overflow-spread: #0304048f;
  --ds-shadow-overlay: 0px 0px 0px 1px #39424a, 0px 8px 12px #0304045C, 0px 0px 1px 1px #03040480;
  --ds-shadow-raised: 0px 0px 0px 1px #00000000, 0px 1px 1px #03040480, 0px 0px 1px #03040480;
  /* Accordian background */
  --board-header-background-color: #0000003d;
  --ds-background-neutral: #A1BDD914;
  --ds-background-neutral-hovered: #A6C5E229;
  /* Form input background */
  --ds-background-input: #22272B;
  --ds-border-focused: #85B8FF;
  --ds-border-input: #A6C5E229;
  --ds-border-selected: #579DFF;
  /* text color */
  --ds-text: #B6C2CF;
  --ds-text-subtlest: #8C9BAB;
}

body {
  background-color: #1D2125;
}